
$color-r:red;

body{
    margin: 0;
    padding: 0;
    border: 0;
}
#root{
    height: 100px;
    max-width: 200px;
    background: url('../../common/img/icon01.png') no-repeat;
    .home{
        color: $color-r;
    }
}