@import '../../common/css/common.scss';

$color-g:gold;
$color-r:red;

#root{
    height: 100px;
    max-width: 200px;
    background: url('../../common/img/icon01.png') no-repeat;
    .home{
        color: $color-r;
    }
}
#res{
    color: $color-g !important;
}
